<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>    
    <appSettings  file = "ProtectedConfig.config" >
        <add key="UserName1" value="martin" />
        <add key="Password" value="test" />
        <add key="ekey" value="abc" />
    </appSettings>
</configuration>